@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --dark-green: #022C22;
    --green: #BEF264;
    --low-contrast: #929C9A;
    --beige:#FFF7ED;
    --label-100: bold 18px/24px "Figtree";
    --label-200: bold 16px/24px "Figtree";
    --label-300: bold 14px/20px "Figtree";
    --headline-100: 96px/90px  "Figtree";
    --headline-200: 76px/80px "Figtree";
    --headline-300: 48px/60px "Figtree";
    --headline-400: 48px/60px "Figtree";
    --body-100: 18px/26px "Figtree";
    --body-200: 16px/24px "Figtree";
    --title-100: bold 40px/52px "Figtree";
    --title-200: bold 32px/40px "Figtree";
    --title-300: bold 24px/36px "Figtree";
    --title-400: bold 20px/24px "Figtree";
}


body{
    background-color: white;
    position: relative;
    margin:auto;
    padding: 0;
    overflow-x: clip;

    width: 100%;
}

#top{
    background-color: var(--dark-green);
    color: white;
    width: 100%;
}
#logo_mobile{
    display: none;
}
#top > nav{
    display: flex;
    left:5px;
    justify-content: center;
    align-items: center;
    height: 129px;
    width: 90%;
    margin:5px auto 5px auto;
}

nav > ul > li {
    display:inline-flex;
    font: var(--label-200);
    margin-right: 32px;
}

a{
    text-decoration: none;
    color:white;
    font: var(--label-200);
}

.button-darkbg{

    border: 2px solid white;
    background-color: var(--dark-green);
    color: white;
}
.button-grenbg{
    background-color: var(--green);
    color: var(--dark-green);
}

#top>img{
    position: absolute;

}
#centerContent{
    margin-top: 72px;
    text-align: center;
    width: 60%;
    height: 430px;
    margin: 72px auto 0 auto;
    font: var(--body-100);
    margin-bottom: 302px;
}

#navbutton{
    margin-right: 20px;
    margin-left: auto;
}
h1{
    margin-top:24px;
    font:var(--headline-100);
}
.caption{
    font:var(--label-300);
}
#top{
    padding-top:28px;
}
#top > nav {
    margin-top: 28px;
}
button{
    font: var(--label-200);
    border-radius: 30px;
    padding: 7px 30px;
    width: fit-content;
}

#partners{
    position: relative;
    margin-top: -302px;
    padding-top: 302px;
    height: 358px;
    width: 100%;
    background: linear-gradient(#0000, var(--dark-green) 30%, var(--dark-green));
    background-position-y: top;
    z-index: 100;
}

#partners > h2{
    font: var(--headline-400);
    margin:auto;
    text-align: center;
    height: 120px;
    width: 50%;
}

#logos{
    display: flex;
    margin-top: 64px;
}

.partner{
    background-color: #fff3;
    margin-right: 25px;
    width: 419px;
    height: 88px;
    align-content: center;
    padding: 24px 117px;
    border-radius: 30px;
}

#img4{
    top:276px;
    right:-10px;
    width: 15%;
}
#img3{
    left:0px;
    top:232px;
    width: 15%;
}

#img2{
    top:722px;
    left: 10%;
    width: 50%;
}
#img1{
    right:0;
    top:640px;
    width: 20%;

}

.whitesection{
    margin:10px 16px;
    height:fit-content;
    width: calc(100%-16px);
    display: flex;
    overflow-x: clip;
}

.t300{
    font: var(--title-300);
}
.t400{
    font:var(--title-400)
}

#left1{
    align-self: center;
    margin-left:112px;
    width: 488px;
    min-height: 664px;
    margin-right: 240px;
}
#right1{
    align-self: center;
}

.low{
    color: var(--low-contrast);
}

p{
    font: var(--body-100);
}
h3{
    font:var(--headline-300);
    margin-bottom: 16px;
}


#left2{

    width: 592px;
    height: 316px;
    margin-right: 240px;
}
h4{
    font:var(--headline-400);
    margin-bottom: 0px;
}
#right2{
    min-height: fit-content;    
}

.beigesection{
    margin:5px 16px;
    padding: 96px;
    height:fit-content;
    width: calc(100%-32px);
    display: flex;
    background-color: var(--beige);
    border-radius: 40px;
}

.center{
    margin:auto;
    text-align: center;
}

#aboutus{
    width: 800px;
    height: 412px;
    margin-bottom: 110px;
}


.grid3x2{
    width: 95%;
    margin:auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;

    gap: 32px;
}

.cell{
    text-align: center;
    display: table-cell;
}

.cell> h4{
    margin-top: 32px;
    width: 100%;
    margin-bottom: 0px;
}

#meet{
    margin-bottom: 136px;
}


.dgsection{
    background-color: var(--dark-green);
    color: white;
    height: fit-content;
    padding: 64px 5px 20px 5px;
    padding-left: 112px;
}
.dgsection> hr{
    border-color: var(--low-contrast);
}

.circle{
    border-radius: 200%;
    background-color: var(--green);
    width: 10px;
    height: 10px;
    display: inline-block;
}

.cards{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap:32px;
    overflow-x: scroll;
    scrollbar-color: white #666;
    scrollbar-width: thin;

}
.gcard{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    width: 384px;
    min-width: 384px;
    flex-shrink:40% ;
    background-color: var(--green);
    color: var(--dark-green);
    height: 384px;
    justify-content: space-between;
}

.gcard > div{
    display: flex;
    bottom: 0px;
    height: 112px;

}

.gcard>div> img{
    width: 112px;
    margin-right: 25px;
}

.gcard > div > div{
    max-height: 56px;
}

.h200{
    font:var(--headline-200);
}
.l300{
    font:var(--label-300)
}
#our{
    margin-top: 140px;
    max-width: 960px;
    margin-bottom: 96px;
}

.button-black{
    background-color: black;
    color:white;
    font:var(--label-100)
}
.noflex{
    display: block;
    padding: 45px;
    margin:16px;
    width: 88%;
    height: fit-content;
}
.flex{
    display: flex;
}

.smallg{
    background-color: #929C9A;
    width: 4px;
    height: 4px; 
    display: block;
    align-self: center;
}

#left3{
    display: flex;
    max-height: 100%;
    max-width: 50%;
    justify-content: space-between;
    flex-direction: column;
}
.l100{
    font:var(--label-100);
}
.b200{
    font:var(--body-200);
}
#right3{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left4{
    max-height: 100%;
    padding: 10px;
    min-width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    justify-content: space-between;
}
#right4{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    max-width: 60%;
}
#right4>div{
    display: flex;
    margin:32px;
}
#right4>div>img{
    width: 177px;
    margin-right: 10px;
    height: 177px;
}
#right4>div>div{
    display: flex;
    flex-direction: column;
}
#right4>div>div>div{
    display: flex;
    gap:16px;
    flex-direction: row;
    align-content: center;
}

.gr{
    border-color: var(--green);
}

#faq{
    text-align: left;
    width: 60%;
    margin:auto;
}
#blog{
    height: fit-content;
}
#why{
    width: 100%;
    margin:10px 0 0 0;
    padding: 0;
    display: flex;
}
#wl{
    background-color: var(--dark-green);
    color:white;
    margin:0;
    display: flex;
    padding-right: 350px;
    padding-left: 5%;
    flex-direction: column;
}

input[type=email]{
    border-radius: 30px;
    padding: 10px;
}

#imgC{
    background-color: var(--beige);
    max-width: 30%;
}
#imgC>img{
    margin-left: -300px;
    height: 100%;
}
#blog{
    margin-bottom: 100px;
}
footer{
    overflow-y: hidden;
    padding: 96px 5%;
    background-color: var(--dark-green);
    
}
#ftop{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#links{
    display: flex;
}
footer ul{
    margin-block-start: 0px;
    list-style: none;
}
footer ul>li:first-child{
    
    font: var(--label-200);
    color:white;
}
footer ul>li{
    margin-bottom: 24px;
    font:var(--body-200);
    color: #fffC;
}
footer ul>li>a{
    font:var(--body-200);
    color: #fffC;
}
.cc{
    margin-top: 163px;
    width: 100%;
    color:#fffc;
    text-align: right;
}

#socials > a img{
    margin-right:16px;
    align-self: center;
}

#socials > a{
    display: flex;
    margin-bottom: 10px;
    background-color: #fff4 ;
    border-radius: 40px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    font: var(--label-200);
}



.selected_h3{
    border-bottom: 3px solid var(--low-contrast);
}
.selected_h3>span{
    border-bottom: 3px solid black;
}

.lines{
    position: absolute;
    overflow-y: clip;
}

#bottom-line{
    transform: translateY(-160px) translateX(-80px);
}

.gbage{
    background-color: var(--green);
    color: var(--dark-green);
    font-size: 12px;
    line-height: 18px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    #imgC{
        display: none;
    }
    #why{
        background-color: var(--dark-green);
    }
    #wl{
        width:90%;
        padding: 0;
        margin:auto;
    }
    .whitesection{
        flex-direction: column;
        margin:0px;
        width: 95%;
        padding: 10px;
    }
    #left1,#left2,#left3,#left4{
        height: fit-content;
        width: 100%;
        margin:auto;
    }
    .beigesection{
        flex-direction: column;
        padding: 5%;
    }
    #top{
        img{
            display: none;
        }
    }
    .dgsection{
        padding: 5%;
    }
    #aboutus{
        width: 80%;
        height: fit-content;
    }
    .grid3x2{
        grid-template-columns: 45% 45%;
        gap:5%;
    }
    .cell >img{
        width: 100%;
    }
    .cell> h4{
        margin-top: 32px;
        width: 100%;
        margin-bottom: 0px;
        font-size: 2rem ;
    }

    h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    h3{
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .h200{
        font-size: 2rem;
        line-height: 2.2rem;
    }
    #partners{
        margin-top: 0px;
        padding-top: 0px;
    }
    #partners > h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;        
        margin: auto;
        text-align: center;
        height: 120px;
        width: 70%;
    }
    #logos{
        overflow-x: scroll;
        margin:5px;
    }
    .partner{
        width: 50%;
        padding: 10px;
        
    }
    .partner > svg{
        scale: 0.7;
    }
    #ftop{
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    #flogo{
        margin-bottom: 20px;
    }
    #right3{
        max-width: 100%;
    }
    #left3{
        max-width: 100%;
    }
    #left4{
        max-width: 100%;
    }
    #right4 {
        max-width: 100%;
        margin-left: 0;
    }
    #right4 > div{
        width: 100%;
        margin: 0;
    }
    #right4 > div > img{
        scale: .7;
    }
    .flex{
        flex-direction: column;
    }
    #our{
        width: 100%;
    }
    .lines{
        display: none;
    }
    #faq{
        width: 80%;
    }
    #right1> img{
        width: 100%;
    }
    .noflex{
        width: 80%;
    }
    #top>#logo_mobile{
        display: block;
        margin:0 auto 50px auto;
        left:33%;
        scale: 2;
    }
    .cc{
        margin-top: 25px;
        text-align: center;
    }
}